.container {
    border: 5px solid black;
    align-items:start;
    padding: 10px;
    gap: 10px;
    width: 300px;
    border-radius: 30px;
}

.ParentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
}
